<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="project.cbp.le.config" Guid="0eac436e-0c6b-46d8-aef8-b00384eebf7d" MainMenu="false">
      <Parameter></Parameter>
      <Location>zh-TW</Location>
      <Timezone>Taipei Standard Time</Timezone>
      <RunAsAdmin>true</RunAsAdmin>
      <RedirectRegistry>false</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>